.display_block {
    display: block;
}

.background_position_center {
    background-position: center;
}

.background_size_cover {
    background-size: cover;
}

.background_repeat_no_repeat {
    background-repeat: no-repeat;
}

.display_flex {
    display: flex;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_direction_column {
    flex-direction: column;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_space_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.margin-left_auto{
    margin-left: auto;
}

.margin_right_auto {
    margin-right: auto;
}