// margin_bottom
.margin_bottom_4px{
    margin-bottom: 4px;
}
.margin_bottom_8px{
    margin-bottom: 8px;
}
.margin_bottom_12px{
    margin-bottom: 12px;
}
.margin_bottom_16px{
    margin-bottom: 16px;
}
.margin_bottom_20px{
    margin-bottom: 20px;
}
.margin_bottom_24px{
    margin-bottom: 24px;
}
.margin_bottom_28px{
    margin-bottom: 28px;
}
.margin_bottom_32px{
    margin-bottom: 32px;
}
.margin_bottom_36px{
    margin-bottom: 36px;
}
.margin_bottom_40px{
    margin-bottom: 40px;
}
.margin_bottom_44px{
    margin-bottom: 44px;
}
.margin_bottom_48px{
    margin-bottom: 48px;
}
.margin_bottom_52px{
    margin-bottom: 52px;
}
.margin_bottom_56px{
    margin-bottom: 56px;
}
.margin_bottom_60px{
    margin-bottom: 60px;
}
.margin_bottom_64px{
    margin-bottom: 64px;
}
.margin_bottom_68px{
    margin-bottom: 68px;
}
.margin_bottom_72px{
    margin-bottom: 72px;
}
.margin_bottom_76px{
    margin-bottom: 76px;
}
// paddting_top
.padding_top_56px {
    padding-top: 56px;
}
.padding_top_64px {
    padding-top: 64px;
}
// padding_bottom
.padding_bottom_56px {
    padding-bottom: 56px;
}
.padding_bottom_64px {
    padding-bottom: 64px;
}
.padding_bottom_144px {
    padding-bottom: 144px;
}
.padding_bottom_160px {
    padding-bottom: 160px;
}
// margin_right
.margin_right_16px {
    margin-right: 16px;
}
.margin_right_24px {
    margin-right: 24px;
}