@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  /* 適應 & 伸縮 */
  max-width: 100%;
  /* 適應 & 伸縮 */
  height: auto;
  /* 圖片會預留 2-3px 在下面 */
  vertical-align: middle; }

*, *::before, *::after {
  /* 全域 border box > 不用算內距 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.position_absolute {
  position: absolute; }

.position_relative {
  position: relative; }

.font_style_italic {
  font-style: italic; }

.text_align_center {
  text-align: center; }

.font_weight_bold {
  font-weight: bold; }

.fotnt_weight_bolder {
  font-weight: bolder; }

.font_weight_700 {
  font-weight: 700; }

.display_block {
  display: block; }

.background_position_center {
  background-position: center; }

.background_size_cover {
  background-size: cover; }

.background_repeat_no_repeat {
  background-repeat: no-repeat; }

.display_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex_direction_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.justify_content_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify_content_space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align_items_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.margin_left_auto {
  margin-left: auto; }

.margin_right_auto {
  margin-right: auto; }

.margin_bottom_4px {
  margin-bottom: 4px; }

.margin_bottom_8px {
  margin-bottom: 8px; }

.margin_bottom_12px {
  margin-bottom: 12px; }

.margin_bottom_16px {
  margin-bottom: 16px; }

.margin_bottom_20px {
  margin-bottom: 20px; }

.margin_bottom_24px {
  margin-bottom: 24px; }

.margin_bottom_28px {
  margin-bottom: 28px; }

.margin_bottom_32px {
  margin-bottom: 32px; }

.margin_bottom_36px {
  margin-bottom: 36px; }

.margin_bottom_40px {
  margin-bottom: 40px; }

.margin_bottom_44px {
  margin-bottom: 44px; }

.margin_bottom_48px {
  margin-bottom: 48px; }

.margin_bottom_52px {
  margin-bottom: 52px; }

.margin_bottom_56px {
  margin-bottom: 56px; }

.margin_bottom_60px {
  margin-bottom: 60px; }

.margin_bottom_64px {
  margin-bottom: 64px; }

.margin_bottom_68px {
  margin-bottom: 68px; }

.margin_bottom_72px {
  margin-bottom: 72px; }

.margin_bottom_76px {
  margin-bottom: 76px; }

.padding_top_56px {
  padding-top: 56px; }

.padding_top_64px {
  padding-top: 64px; }

.padding_bottom_56px {
  padding-bottom: 56px; }

.padding_bottom_64px {
  padding-bottom: 64px; }

.padding_bottom_144px {
  padding-bottom: 144px; }

.padding_bottom_160px {
  padding-bottom: 160px; }

.margin_right_16px {
  margin-right: 16px; }

.margin_right_24px {
  margin-right: 24px; }

body {
  font-size: 24px;
  line-height: 1.75;
  font-weight: 700;
  font-style: italic;
  font-family: "Roboto", sans-serif; }

.title {
  font-size: 80px;
  line-height: 106px; }

.subTitle {
  font-size: 64px;
  line-height: 84px; }

.text {
  font-size: 24px;
  line-height: 36px; }

.txt {
  font-size: 20px;
  line-height: 1.5; }

.container {
  max-width: 1200px; }

a {
  text-decoration: none;
  color: #FFF; }
  a:hover {
    color: #000;
    background: #FFF; }

.full_banner_page {
  color: #FFF;
  height: 960px;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week2/banner.png"); }
  .full_banner_page span {
    font-size: 24px;
    line-height: 1.75; }

.about .custom_line {
  width: 85%;
  border-bottom: 1px solid #000; }

.about p::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 16px;
  background-color: #891818;
  border-radius: 50%;
  vertical-align: middle; }

.about .custom_point {
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 50%; }

.myBrand {
  background: #000;
  color: #FFF; }

.contact {
  background: #000;
  color: #FFF; }

/*# sourceMappingURL=all.css.map */
